table {
  width: 100%;
  text-align: center;
  margin-top: 25px;
}
.basic-container {
  width: 70%;
  margin: auto;
  background-color: #fafafa;
  color: rgba(0,0,0,.87);
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
td, th {
  padding: 20px 20px;
  /*text-align: center;*/
  border-bottom: 1px solid #dddddd;
}
tr {
  border-bottom: 1px solid #000000;
}
tr:last-child td {
  border: 0;
}
.container {
  width: 80%;
  display: inline-block;
}
