#vertical-alignment {
  margin-top: 50px;
}
app-sm-table {
  overflow: auto;
  width: 76%;
}
#vertical-alignment>div#sidebar {
  position: fixed;
  left: 0;
  width: 24%;
  top: 65px;
}
app-sm-table, app-bg-table-params {
  float: right;
}
