<!--The home page contains three main components: NAV BAR, SIDE BAR and MAIN CONTENT which's the table-->

<app-nav-bar [hasBurgerButton]="true"
             (sideMenuIsVisible)="isSideMenuVisible = !isSideMenuVisible"></app-nav-bar>

<div id="content">
  <app-sm-filter-table [map_status]="map_status"
                       [map_fStatus]="map_fStatus"
                       [isStatusVisible]="statusVisibility"
                       [isfStatusVisible]="fStatusVisibility"
                       *ngIf="isSideMenuVisible"></app-sm-filter-table>
  <app-sm-table [tableData]="tableData"
                [columnNames]="columnNames"
                [allTableData]="allTableData"
                [allColumnData]="allColumnData"
                [rowVisibility]="{'Status': statusVisibility, 'fStatus': fStatusVisibility}"
                [map_test_name]="map_test_name"></app-sm-table>
</div>
