<div id="sidebar-content">
  <div class="container"
       [ngStyle]="{'max-height': windowHeight+'px'}">
    <details>
      <summary>Filter by Status</summary>
      <span class="select-all" (click)="selectAll_S()">{{toggleSelectAll}}</span>
      <ul class="cell">
        <li *ngFor="let col of objectKeys(map_status)">
          <label [for]="col"
                 style="width: 69%; display: inline-block" >{{col}}<i style="color: darkgray; padding-left: 10px; font-size: small">({{map_status[col]}})</i>
          </label>
          <input [id]="col" type="checkbox" [checked]="isStatusVisible[col]" (change)="tellTheParentColumnChanges_S(col)">
          <label [for]="col"> </label>
        </li>
      </ul>
    </details>
    <details>
      <summary>Filter by fStatus</summary>
      <span class="select-all" (click)="selectAll_fS()">{{toggle_fSelectAll}}</span>
      <ul class="cell">
        <li *ngFor="let col of objectKeys(map_fStatus)">
          <label [for]="col"
                 style="width: 69%; display: inline-block; font-size: small" >{{col}}<i style="color: darkgray; padding-left: 10px; font-size: small">({{map_fStatus[col]}})</i>
          </label>
          <input [id]="col" type="checkbox" [checked]="isfStatusVisible[col]" (change)="tellTheParentColumnChanges_fS(col)">
          <label [for]="col"> </label>
        </li>
      </ul>
    </details>
  </div>
</div>
