<context-menu #basicMenu (close)="setSelected(-1)">
  <ng-template contextMenuItem (execute)="showMessage('Hi, ' + $event)" [subMenu]="saySubMenu">
    Say hi!
  </ng-template>
  <context-menu #saySubMenu>
    <ng-template contextMenuItem (execute)="showMessage('Hi, ' + $event.item)">
      ...hi!
    </ng-template>
    <ng-template contextMenuItem (execute)="showMessage('Hola, ' + $event.item)">
      ...hola!
    </ng-template>
    <ng-template contextMenuItem (execute)="showMessage('Salut, ' + $event.item)">
      ...salut!
    </ng-template>
  </context-menu>
  <ng-template contextMenuItem let-item (execute)="showPopUpTable($event.item)">Show More Info</ng-template>
  <ng-template contextMenuItem let-item (execute)="showMessage($event.item + ' said: ' + $event.item)">
    Bye, {{item}}
  </ng-template>
</context-menu>
