<h4>Test Cases</h4>
<!--Container that contains the main table-->
<div class="my-container">
  <dts-select-container #selectContainer="dts-select-container"
                        [(selectedItems)]="selectedDocuments"
                        [selectWithShortcut]="true">
    <div class="basic-container"  (scroll)="selectContainer.update()">
        <table>
          <tr>
            <th *ngFor="let col of columnNames; let i=index">
              <div style="margin-top: 10px; display: inline-block" *ngIf="(!searchMode && col === 'Tests') || col !== 'Tests'">
                {{col}}
                <span *ngIf="col != 'Comment' && col != 'DEI' && col != 'Tags' && col != 'Test Owner'"
                      style="margin-left: 10px; cursor:pointer;"
                      (click)="changeSortingOrder(i)">{{sortingOrder[i] === undefined || sortingOrder[i] === null? sortingOrder[i]="▼" : sortingOrder[i]}}</span>
              </div>
              <img *ngIf="!searchMode && col === 'Tests'" (click)="enableSearchMode()"
                   src="./assets/images/search.png"
                   style="width: 25px; float: right; padding-top: 10px">
              <!--Input for search-->
              <form *ngIf="searchMode && col === 'Tests'" id="search">
                <span style="float: right; font-size: large; cursor: pointer; margin-top: 8px; margin-right: 10px"
                      (click)="disableSearchMode()"
                      *ngIf="searchMode && col === 'Tests'">×</span>
                <input type="text" placeholder="Test Name" name="myInput" [(ngModel)]="curInput" (keyup)="applyChange()">
              </form>
            </th>
          </tr>
          <tr *ngFor="let row of filteredTable; let i = index">
            <td [contextMenu]="testMenu"
                [contextMenuSubject]="row['Tests']"
                (contextmenu)="setTestSelected(row)"
                [dtsSelectItem]="{'test': row, 'testName': row['Tests']}">
              {{row["Tests"]}}
            </td>
            <td *ngFor="let item of row['Data']; let j=index"
                [contextMenu]="statusMenu"
                [contextMenuSubject]="{'index': j, 'cur': item, 'test': row['Tests']}"
                (contextmenu)="setStatusSelected(row, j)"
                [dtsSelectItem]="{'status': row, 'testName': row['Tests'], 'id': j}">
              <span>{{item["exec_state"]}}</span>
              <br><br>
              <span *ngIf="item['fstatus'][0] === '---'">---</span>
              <ul style="margin-left: 15px" *ngIf="item['fstatus'][0] !== '---'">
                <li *ngFor="let f_s of item['fstatus']">{{f_s}}</li>
              </ul>
            </td>
            <td [contextMenu]="commentMenu"
                (contextmenu)="setCommentSelected(row['Tests'])"
                [contextMenuSubject]="row['Tests']"
                [dtsSelectItem]="{'comment': row['Tests']}">
              {{ comments[row['Tests']].length === 0? "No Comment" : comments[row['Tests']].length + " Comments" }}
            </td>
            <td id="DEI">---</td>
            <td id="Tags">---</td>
            <td id="Severity">---</td>
          </tr>
        </table>
    </div>
  </dts-select-container>
</div>
<!-- Context Menu for test name -->

<context-menu #testMenu (close)="deselectAll()">
  <ng-template contextMenuItem
               (execute)="showMessage('Hi, ' + $event)"
               [subMenu]="subTestMenu"
               let-item>
    Cur Selected: {{item}}
  </ng-template>
  <context-menu #subTestMenu>
    <span *ngFor="let doc of selectedDocuments; let i = index">
      <ng-template contextMenuItem
                   *ngIf="doc.hasOwnProperty('test')===true"
                   (execute)="showMessage('Hi, ' + $event.item)">
        Item {{i+1}}: {{doc['testName']}}
      </ng-template>
    </span>
  </context-menu>
  <ng-template contextMenuItem
               (execute)="applyColor()">
    Apply Color (to all selected cells)
  </ng-template>
  <ng-template contextMenuItem
               (execute)="showHistory()">
    Show History (selected cells)
  </ng-template>
  <ng-template contextMenuItem
               (execute)="copyTestNames()">
    Copy Test Names (selected cells)
  </ng-template>
  <ng-template contextMenuItem
               (execute)="hideTest()">
    Hide Test
  </ng-template>
  <ng-template contextMenuItem let-item (execute)="showPopUpTableTest(selectedDocuments.length === 0? $event.item : selectedDocuments[0]['testName'])">Show More Info</ng-template>
</context-menu>

<!--Context menu for status-->
<context-menu #statusMenu (close)="deselectAll()">
  <!-- Item #1 with its sub-context-menu -->
  <ng-template contextMenuItem
               (execute)="showMessage('Hi, ' + $event.item)"
               [subMenu]="subStatusMenu"
               let-data>
    Cur Selected: {{data['cur']['exec_state']}}
  </ng-template>
  <context-menu #subStatusMenu>
    <span *ngFor="let doc of selectedDocuments; let i = index">
      <ng-template contextMenuItem
                   (execute)="showMessage('Hi, ' + $event.item)"
                   *ngIf="doc.hasOwnProperty('status')===true"
                   let-data>
          Item {{i+1}}: {{doc['status']['Data'][ data['index'] ]['exec_state']}}
      </ng-template>
    </span>
  </context-menu>
  <!-- Item #2 -->
  <ng-template contextMenuItem
               [subMenu]="subColorMenu">
    Select Color Tag
  </ng-template>
  <context-menu #subColorMenu>
    <ng-template contextMenuItem
                 (execute)="selectColorTagGreen()">
          Green
    </ng-template>
    <ng-template contextMenuItem
                 (execute)="selectColorTagYellow()">
          Yellow
    </ng-template>
    <ng-template contextMenuItem
                 (execute)="selectColorTagRed()">
          Red
    </ng-template>
  </context-menu>
  <!-- Item #2 -->
  <ng-template contextMenuItem
               (execute)="openTestExplorer()">
    Open Test Explorer
  </ng-template>
  <!-- Item #3 -->
  <ng-template contextMenuItem
               (execute)="openTestExplorerWindow($event.item['test'])">
    Open Test Explorer (New Window)
  </ng-template>
  <!-- Item #4 -->
  <ng-template contextMenuItem
               (execute)="gridJobStatus()">
    Grid Job Status
  </ng-template>
  <!-- Item #5 -->
  <ng-template contextMenuItem
               (execute)="viewQLog()">
    View Qlog
  </ng-template>
  <!-- Item #6 -->
  <ng-template contextMenuItem
               (execute)="monitorQLog()">
    Monitor Qlog
  </ng-template>
  <!-- Item #7 -->
  <ng-template contextMenuItem
               (execute)="killSelectedJobs()">
    Kill Selected Jobs
  </ng-template>
  <!-- Item #8 -->
  <ng-template contextMenuItem
               (execute)="runCommandOpenTerminal()">
    Run Command/Open Terminal
  </ng-template>
  <!-- Item #9 -->
  <ng-template contextMenuItem
               (execute)="runCommandOpenTerminalQuick()">
    Run Command/Open Terminal (QUICK)
  </ng-template>
  <!-- Item #10 -->
  <ng-template contextMenuItem
               (execute)="copyFailReasonsToTags()">
    Copy Fail Reasons to Tags
  </ng-template>
  <!-- Item #11 -->
  <ng-template contextMenuItem
               (execute)="openClickBuild()">
    Open Click Build
  </ng-template>
  <!-- Item #12 -->
  <ng-template contextMenuItem
               (execute)="openVNC()">
    Open VNC
  </ng-template>
  <!-- Item #13 -->
  <ng-template contextMenuItem
               (execute)="showPopUpTableStatus(selectedDocuments.length === 0? $event.item['test'] : selectedDocuments[0]['testName'])">Show More Info</ng-template>
</context-menu>

<context-menu #commentMenu>
  <ng-template contextMenuItem (execute)="addNewComment(content)">
    Add New Comment
  </ng-template>
  <ng-template contextMenuItem (execute)="showComment()">
    Show Comments
  </ng-template>
  <ng-template contextMenuItem (execute)="attachComment(attach_comment)">
    Attach Comment(s) to Test Case(s)
  </ng-template>
</context-menu>
<!--It's just the dark window that appears behind the pop up table-->
<div id="whole-window"
     *ngIf="isSubTableVisible"
     (click)="hideAllPopUps()"></div>
<!--------------------------------------------------------------------------------------------------->
<div class="small-container" *ngIf="isSubTableVisible">
  <div class="controls">
    <h2>More Information</h2>
    <span (click)="hideAllPopUps()">×</span>
  </div>
  <div  style="margin-top: 70px">
    <ngb-tabset>
      <ngb-tab *ngFor="let cur_tab of tabs">
        <ng-template ngbTabTitle ><span title="{{cur_tab['testName']}}">{{cur_tab.val}}</span></ng-template>
        <ng-template ngbTabContent>
          <table style="background-color:#fff;">
            <tr *ngFor="let col of allColumnData">
              <th> {{col}} </th>
              <td>
                {{JSONstringify(allTableData[cur_tab['testName']][cur_tab.j][col])}}
              </td>
            </tr>
          </table>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
<!-- Comment Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">
      Adding New Comment
      <span *ngIf="loading">
        <img style="max-width: 50px" src="./assets/images/loader.gif" alt="">
      </span>
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form action="#">
      <div class="form-group">
        <div class="alert alert-danger" *ngIf="showError">{{errorResult}}</div>
        <label for="username">Username</label>
        <div class="input-group">
          <input type="text" placeholder="type username.." #user_val id="username" required>
        </div>
        <label for="comment-content">Type Your Comment</label>
        <div class="input-group">
          <textarea id="comment-content" #txt_val class="form-control" placeholder="type your comment here.." required></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-dark" (click)="commentSubmission(modal, txt_val.value, user_val.value)">Save</button>
      </div>
    </form>
  </div>
</ng-template>
<!--Comment Small Table-->
<div id="comment-table" class="small-container" *ngIf="isShowCommentsMode">
  <div class="controls">
    <h2>Comment Info</h2>
    <span (click)="hideAllPopUps()">×</span>
  </div>
  <div  style="margin-top: 70px">
    <ngb-tabset>
      <ngb-tab *ngFor="let cur_tab of objectKeys(shownComments)">
        <ng-template ngbTabTitle ><span title="">Test Case #{{cur_tab}}</span></ng-template>
        <ng-template ngbTabContent>
          <span style="margin: 20px" *ngIf="shownComments[cur_tab].length === 0"> There's no comments for this test case.</span>
          <div class="card" style="width: 48%; margin: 10px; display: inline-block" *ngFor="let cur_comment of objectKeys(shownComments[cur_tab])">
            <div class="card-header">Comment #{{cur_comment}}
              <button style="margin-top: -7px" class="pull-right btn btn-info">Update Comment</button>
            </div>
            <div class="card-body">
              <table style="background-color:#fff;">
                <tr *ngFor="let col of objectKeys(shownComments[cur_tab][cur_comment])">
                  <th class="card-title"> {{col}} </th>
                  <td> {{shownComments[cur_tab][cur_comment][col]}} </td>
                </tr>
              </table>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>

<!--Select Comments to Attach-->

<ng-template #attach_comment let-modalComm>
  <div class="modal-header" >
    <h5 class="modal-title" id="modalComm-basic-title">
      Choose Comments to Attach
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="modalComm.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="checkbox" *ngFor="let selected of shownComments">
      <label><input type="checkbox" value="" style="margin-right: 10px">{{selected['content']}}</label>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark" (click)="attachCommentSubmission(modalComm)">Submit Comments</button>
  </div>
</ng-template>
