<h4>Submissions</h4>
<div class="my-container">
  <dts-select-container #selectContainer="dts-select-container"
                        [(selectedItems)]="selectedDocuments"
                        [selectWithShortcut]="true">
    <div class="basic-container">
      <table>
        <tr>
          <th > Submission Name </th>
          <th *ngFor="let col of columns"> {{col}} </th>
        </tr>
        <tr *ngFor="let row of objectKeys(submissionData)"
            [dtsSelectItem]="row"
            [contextMenu]="submissionMenu"
            [contextMenuSubject]="row"
            (contextmenu)="setSubSelected(row)">
          <td> {{row}} </td>
          <td *ngFor="let col of columns"> {{submissionData[row][col]}} </td>
        </tr>
      </table>
    </div>
  </dts-select-container>
</div>

<context-menu #submissionMenu>
  <ng-template contextMenuItem (execute)="openPieCharts()">
    Open Pie Charts for Selected Submissions
  </ng-template>
  <ng-template contextMenuItem (execute)="printSelectedSubmissions()">
    Print Selected Submissions
  </ng-template>
</context-menu>
<div  style="margin-top: 20px; margin-left: 20px">
  <details>
    <summary class="btn btn-dark">Pie Chart for all Submissions</summary>
    <div class="row">
      <div class="col-sm-4 mb-3"
           *ngFor="let tab of objectKeys(submissionData)"
           style="margin-top: 20px">
        <div class="card">
          <div class="card-header">{{tab}}</div>
          <div class="card-body" id="{{tab}}"></div>
        </div>
      </div>
    </div>
  </details>
</div>
<br>
<!--It's just the dark window that appears behind the pop up table-->
<div id="whole-window"
     *ngIf="isPieOpen"
     (click)="closePieCharts()"></div>
<!--Tabs for PieChart-->
<div class="small-container" [hidden]="!isPieOpen">
  <div id="controls">
    <h2>Pie Charts</h2>
    <span (click)="closePieCharts()">×</span>
  </div>
  <div class="row" style="margin-top: 90px">
    <div class="col-sm-4 mb-3" *ngFor="let cur_tab of selectedDocuments">
      <div class="card">
        <div class="card-header">{{cur_tab}}</div>
        <div class="card-body" id="{{cur_tab}}-"></div>
      </div>
    </div>
  </div>
</div>
