div#nav {
  padding: 10px 10px;
  background-color: #19233E;
  width: 100%;
  color: #ffffff;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
  display: flex;
  align-items: center;
}

h1 {
  font-size: x-large;
  margin-left: 20px;
}

img {
  max-width: 20px;
  vertical-align: middle;
}

div.nav-img {
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  padding: 15px;
  text-align: center;
  transition: background-color 0.5s;
}
div.nav-img:hover {
  background-color: rgba(0,0,0,0.5);
}
